PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root123
DB_NAME=fund_bridge
JWT_SECRET=fund_bridge_super_secret_jwt_key_2026_change_in_prod
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=o220786@rguktong.ac.in
SMTP_PASSWORD=ylutzrcaldznpcpi
MAIL_FROM=Fund Bridge Support <o220786@rguktong.ac.in>
